{% load static %}
	<!--// Footer \\-->
	<footer id="ereaders-footer" class="ereaders-footer-one">

		<!--// Footer Widget \\-->
		<div class="ereaders-footer-widget">
			<div class="container">
				<div class="row">

					<div class="col-md-12">
						<div class="ereaders-footer-newslatter">
							<h2>Subscribe to Our Newsletter</h2>
							<p>Aenean ultricies iaculis cursus. Mauris enim tellus, finibus in felis a, sollicitudin
								iaculis dolor. Donec sollicitudin orci id efficitur dapibus.</p>
							<form>
								<input value="Enter Your Email Address"
									onblur="if(this.value == '') { this.value ='Enter Your Email Address'; }"
									onfocus="if(this.value =='Enter Your Email Address') { this.value = ''; }"
									tabindex="0" type="email">
								<input type="submit" value="Subscribe">
							</form>
							{% comment %} <a href="index.html" class="ereaders-footer-logo"><img
									src="{% static 'web/images/footer-logo.png'%}" alt=""></a> {% endcomment %}
						</div>
					</div>

				</div>
			</div>
		</div>
		<!--// Footer Widget \\-->

		<!--// CopyRight \\-->
		<div class="ereaders-copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p><i class="fa fa-copyright"></i> 2017, All Right Reserved - by <a href="index.html">EyeCix</a>
						</p>
						<ul class="footer-social-network">
							<li><a href="https://en-gb.facebook.com/login/" class="fa fa-facebook"></a></li>
							<li><a href="https://www.linkedin.com/uas/login" class="fa fa-linkedin"></a></li>
							<li><a href="https://twitter.com/login?lang=en" class="fa fa-twitter"></a></li>
							<li><a href="https://www.pinterest.com/login/" class="fa fa-pinterest-p"></a></li>
							<li><a href="https://en-gb.facebook.com/login/" class="fa fa-google-plus"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--// CopyRight \\-->

	</footer>
	<!--// Footer \\-->

	<div class="clearfix"></div>